h1 {
	text-align: center;
	color: red;
	background: yellow;
}
p {
	color: blue;
}
img{
	display: block;
	margin: 0px auto;
}
ul{
	font-size: 20px;
	text-align: center;
}
.seguro{
	font-weight:bold ;
}
.comprometidos{
	color: orange;
}
.emdia{
	text-align: center;
}
